<div class="simpoLayoutDisplayer">
	<!--div
		data-dojo-type="dijit/layout/BorderContainer"
		data-dojo-props="design:'sidebar'"
	>
		<div
			class="simpoLayoutDisplayerLeftPane"
			data-dojo-type="dojox/layout/ContentPane"
			data-dojo-props="region:'left', splitter:true"
		>
			<div
				data-dojo-type="dijit/layout/StackContainer"
				data-dojo-attach-point="stackWidget"
			></div>
		</div>
		<div
			class="simpoLayoutDisplayerRightPane"
			data-dojo-type="dojox/layout/ContentPane"
			data-dojo-props="region:'right', splitter:true"
		>	
		</div>
	</div-->
</div>